doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    Script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js').
    Script(src='/javascripts/weather.js').
    Script(src='/javascripts/simpleWeather/jquery.simpleWeather.min.js').
    meta(http-equiv="refresh" content="10")
  body
    block content
